<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Error
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,600,700', rel='stylesheet')
        link(rel="stylesheet", href="/static/css/style.error.css")
    body
        div.error-container
            div.error
                h1= error.status
                p.message= error.message
                pre.stack= error.stack
                a.back(href="/") ← Back to homepage